@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>適当な短冊メーカー</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        ここに願い事を書いて下さい
        @Html.TextBox("text", null, new { @class = "col-md-12", id = "text" })
        <button id="generate" class="btn" onclick="onGenerateClick()">短冊を作成する</button><br />
        @Html.TextArea("tanzaku", new { cols = 20, rows = 15, id = "tanzaku" })<br />
        <button id="tweet" class="btn" onclick="onTweet()">ツイートする</button>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        function onGenerateClick() {
            $.ajax("/api/Tanzaku?text=" + $("#text").val())
                .done(function (data) {
                    $("#tanzaku").val(data.Text);
                });
        }
        function onTweet() {
            var tanzaku = $("#tanzaku").val();
            var base = "https://twitter.com/intent/tweet?original_referer=" + encodeURIComponent(location.href) + "&text=" + encodeURIComponent(tanzaku) + "&tw_p=tweetbutton&url=" + encodeURIComponent(location.href);
            window.open(base, '_blank', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=550, height=420');
        }
    </script>
}
